In [1]:
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
from sklearn.linear_model import LinearRegression
import seaborn as sns

In [2]:
#NOX = Nitrogen oxides
#RM = ROOMS per dwelling
#RAD = index of accessibilty to radaical highways
#ptratio = pupil-teacher ratio by town
#lstat = lower status of the population

In [3]:
file = '/Users/niciat/Downloads/bost_housing_augmented.csv'
boston_data = pd.read_csv(file)
boston_data.head()

,OBS.,TOWN,TOWN#,TRACT,LON,LAT,MEDV,CMEDV,CRIM,ZN,...,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,1,Nahant,0,2011,-70.955,42.2550,24.0,24.0,0.00632,18.0,...,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,2,Swampscott,1,2021,-70.950,42.2875,21.6,21.6,0.02731,0.0,...,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,3,Swampscott,1,2022,-70.936,42.2830,34.7,34.7,0.02729,0.0,...,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,4,Marblehead,2,2031,-70.928,42.2930,33.4,33.4,0.03237,0.0,...,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,5,Marblehead,2,2032,-70.922,42.2980,36.2,36.2,0.06905,0.0,...,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [4]:
# Keep town nnumber for classification
# Lat and long is pretty similar
print(boston_data.keys())

Index(['OBS.', 'TOWN', 'TOWN#', 'TRACT', 'LON', 'LAT', 'MEDV', 'CMEDV', 'CRIM',
       'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [5]:
boston_df = boston_data.drop(['OBS.', 'TOWN#', 'B','LSTAT'],axis=1)
boston_df.head()
# Should I drop all the rows im not comparing?
# Only one way to find out

,TOWN,TRACT,LON,LAT,MEDV,CMEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX
0,Nahant,2011,-70.955,42.2550,24.0,24.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296
1,Swampscott,2021,-70.950,42.2875,21.6,21.6,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242
2,Swampscott,2022,-70.936,42.2830,34.7,34.7,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242
3,Marblehead,2031,-70.928,42.2930,33.4,33.4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222
4,Marblehead,2032,-70.922,42.2980,36.2,36.2,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222

In [6]:
#boston_df.isnull().sum()

In [7]:
#boston_df.info()

In [8]:
#boston_df.describe()

In [9]:
# What is the tract
# Possible relationships:
# AGE/LOCATION, (eh)
# TAX/LOCATION (yes)
# PUPILRATIO/DIS (yes)
# Black/Location/Pupilratio
#Crime/location (yes)
# Location/rad 

#INDUS
#Nox(nitrogen oxide concentration)/location

#MEDV / Room median value of owner occupied homes in the 1000s
#Tax and indus Proportion of nonretail buisness per acre
#nox and age nitric oxide conentration and proportion of owner occupies units prior to 1940
#Indus nox

In [10]:
X = boston_df.drop(['TAX','TOWN'], axis=1).values
y = boston_df['TAX'].values

In [11]:
# split the data into training and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(X,y, test_size=0.30, random_state=0)

In [12]:
# Train the model on the training set
ml=LinearRegression()
ml.fit(x_train,y_train)

LinearRegression()

In [13]:
# Predict the test set results 
y_pred=ml.predict(x_test)
print(y_pred)

[250.3171412  625.33000634 328.87240463 674.8561393  336.72218809
 310.58721065 648.92001011 279.92007761 303.01755044 320.01107075
 653.70932779 663.43395871 672.05768389 670.93711407 332.91319895
 304.49698601 647.54045556 267.68956053 265.65179628 305.46193813
 291.38330793 396.09562204 315.83044018 297.82074347 282.72348743
 662.4322725  315.74588863 407.30602737 212.4585633  340.63197676
 662.05402816 661.88474263 343.97352817 328.90154086 279.63682993
 662.8818343  679.66412261 603.30356121 666.89404168 664.28963719
 326.04720685 281.2840627  255.7375111  662.40388251 196.20002439
 275.93768504 336.03280739 389.20561052 415.96673051 305.8687438
 389.21937873 350.7695441  331.55856929 308.42971612 406.22346756
 323.10795525 265.94129504 239.43123073 650.67093717 295.58179592
 262.83834154 301.93759842 319.76248876 316.89444693 650.57703753
 293.68461753 671.97013976 337.22183092 648.36247497 307.4729349
 341.63826689 336.84897298 304.60908951 277.28550299 647.93868629
 675.22444799 299.03543659 309.52624275 234.68001348 361.47795936
 320.31379197 404.90806426 649.41239002 303.43725587 296.89128303
 289.92163575 233.902492   668.10241924 402.45057483 657.77911982
 317.14556013 673.09797027 292.71441198 313.43808059 218.16396844
 334.73947446 670.8800503  274.44555987 673.12850393 348.98964584
 301.00519965 317.97506597 306.66177473 305.77638568 249.53678178
 324.14450079 667.93533464 672.171799   312.49270281 328.72308526
 366.07540683 664.31835272 395.79054294 334.65917163 334.9959737
 288.48240462 677.23276272 396.28459739 677.13305178 213.38495012
 291.67195844 675.49542508 282.94561978 358.02345148 304.3705827
 399.34686189 294.43108917 346.51530583 347.00986511 273.74279772
 675.16103632 680.16128428 475.01575225 398.98306364 678.95443178
 304.00988976 330.21501624 391.89867389 329.08320529 678.24816247
 670.54642974 350.98914709 222.67886553 289.01430808 329.50385593
 318.05645312 294.59289208 228.6787458  674.65987098 679.44499419
 301.98332352 238.37246551]

In [14]:
ml.predict