In [31]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib as mpl
import matplotlib.pyplot as plt
import sklearn as skl
#from sklearn.linear_model import LinearRegression
#from sklearn.datasets import make_blobs

warning.filterwarnings('ignore')

In [32]:
# import in csv and name columns

# CRIM - per capita crime rate by town
# ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
# INDUS - proportion of non-retail business acres per town.
# CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
# NOX - nitric oxides concentration (parts per 10 million)
# RM - average number of rooms per dwelling
# AGE - proportion of owner-occupied units built prior to 1940
# DIS - weighted distances to five Boston employment centres
# RAD - index of accessibility to radial highways
# TAX - full-value property-tax rate per $10,000
# PTRATIO - pupil-teacher ratio by town
# B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
# LSTAT - percentage of lower status of the population
# MEDV - Median value of owner-occupied homes in $10000's

In [33]:
file = 'Resources/housing.csv'
boston_data = pd.read_csv(file)
boston_data.head()

,OBS.,TOWN,TOWN#,TRACT,LON,LAT,MEDV,CMEDV,CRIM,ZN,...,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,1,Nahant,0,2011,-70.955,42.2550,24.0,24.0,0.00632,18.0,...,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,2,Swampscott,1,2021,-70.950,42.2875,21.6,21.6,0.02731,0.0,...,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,3,Swampscott,1,2022,-70.936,42.2830,34.7,34.7,0.02729,0.0,...,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,4,Marblehead,2,2031,-70.928,42.2930,33.4,33.4,0.03237,0.0,...,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,5,Marblehead,2,2032,-70.922,42.2980,36.2,36.2,0.06905,0.0,...,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [34]:
# Keep town nnumber for classification
# Lat and long is pretty similar
print(boston_data.keys())

Index(['OBS.', 'TOWN', 'TOWN#', 'TRACT', 'LON', 'LAT', 'MEDV', 'CMEDV', 'CRIM',
       'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [35]:
boston_df = boston_data.drop(['OBS.', 'TOWN#'],axis=1)
boston_df.head()
# Should I drop all the rows im not comparing?
# Only one way to find out

,TOWN,TRACT,LON,LAT,MEDV,CMEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,Nahant,2011,-70.955,42.2550,24.0,24.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,Swampscott,2021,-70.950,42.2875,21.6,21.6,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,Swampscott,2022,-70.936,42.2830,34.7,34.7,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,Marblehead,2031,-70.928,42.2930,33.4,33.4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,Marblehead,2032,-70.922,42.2980,36.2,36.2,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [36]:
#boston_df.isnull().sum()

In [37]:
#boston_df.info()

In [38]:
#boston_df.describe()

In [39]:

#MEDV / Room median value of owner occupied homes in the 1000s
#Tax and indus Proportion of nonretail buisness per acre
#nox and age nitric oxide conentration and proportion of owner occupies units prior to 1940
boston_df.head()

,TOWN,TRACT,LON,LAT,MEDV,CMEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,Nahant,2011,-70.955,42.2550,24.0,24.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,Swampscott,2021,-70.950,42.2875,21.6,21.6,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,Swampscott,2022,-70.936,42.2830,34.7,34.7,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,Marblehead,2031,-70.928,42.2930,33.4,33.4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,Marblehead,2032,-70.922,42.2980,36.2,36.2,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [40]:
# Drop Values not related to first question. Question: How does the Median Value of the homes relate to  how many rooms... This is a boring question. 
# Moving onto Tax of land vs proportion of nonretail buisness per acre. 
#---X = boston_df.drop(['TAX','TOWN','TRACT','CMEDV','ZN','CHAS', 'NOX', 'DIS', 'RAD', 'PTRATIO', 'B', 'LSTAT' ], axis=1)
#---y = boston_df['MEDV'].values
#---X = pd.DataFrame(X)
#---X

In [49]:
X =  boston_df.drop(['MEDV','CRIM','TOWN','TRACT','CMEDV','ZN','CHAS', 'DIS', 'RAD', 'PTRATIO', 'B', 'LSTAT', 'RM','AGE', 'LAT', 'LON' ], axis=1)
# Purposley excluding NOX, Indus, Tax
# The dependent variable is "TAX"
#Hypothesis: If Indus inceases and nox decreases tax will rise. << Is that a good statement? Im not 100% sure its correct. 
# Do I need Latitude and longitude? 
y = X['TAX']

In [50]:
# split the data into training and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(X,y, test_size=0.30, random_state=0)

In [51]:
# Train the model on the training set
ml=LinearRegression()
ml.fit(x_train,y_train)

LinearRegression()

In [52]:
# Predict the test set results 
y_pred=ml.predict(x_test)
print(y_pred)

[430. 666. 276. 666. 398. 307. 666. 224. 304. 384. 666. 666. 666. 666.
 403. 358. 666. 329. 296. 279. 287. 403. 384. 254. 233. 666. 307. 403.
 276. 432. 666. 666. 330. 300. 296. 666. 666. 666. 666. 666. 289. 233.
 430. 666. 422. 242. 289. 403. 403. 384. 403. 391. 307. 330. 437. 311.
 304. 352. 666. 277. 411. 304. 329. 307. 666. 398. 666. 311. 666. 277.
 398. 398. 337. 370. 666. 666. 307. 277. 270. 391. 300. 437. 666. 307.
 307. 287. 276. 666. 403. 666. 469. 666. 315. 358. 273. 330. 666. 313.
 666. 284. 277. 384. 307. 305. 300. 311. 666. 666. 273. 329. 403. 666.
 311. 432. 311. 277. 666. 437. 666. 198. 398. 666. 233. 391. 304. 188.
 222. 330. 284. 254. 666. 666. 711. 403. 666. 226. 307. 403. 330. 666.
 666. 391. 193. 243. 398. 307. 402. 222. 666. 666. 304. 222.]

In [44]:
ml.predict([[]])

/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

ValueError: Found array with 0 feature(s) (shape=(1, 0)) while a minimum of 1 is required.