In [3]:
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
from sklearn.linear_model import LinearRegression

In [ ]:
#NOX = Nitrogen oxides
#RM = ROOMS per dwelling
#RAD = index of accessibilty to radaical highways
#ptratio = pupil-teacher ratio by town
#lstat = lower status of the population

In [6]:
file = '/Users/niciat/Downloads/bost_housing_augmented.csv'
boston_data = pd.read_csv(file)
boston_data.head()

,OBS.,TOWN,TOWN#,TRACT,LON,LAT,MEDV,CMEDV,CRIM,ZN,...,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,1,Nahant,0,2011,-70.955,42.2550,24.0,24.0,0.00632,18.0,...,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,2,Swampscott,1,2021,-70.950,42.2875,21.6,21.6,0.02731,0.0,...,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,3,Swampscott,1,2022,-70.936,42.2830,34.7,34.7,0.02729,0.0,...,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,4,Marblehead,2,2031,-70.928,42.2930,33.4,33.4,0.03237,0.0,...,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,5,Marblehead,2,2032,-70.922,42.2980,36.2,36.2,0.06905,0.0,...,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [24]:
# Keep town nnumber for classification
# Lat and long is pretty similar
print(boston_data.keys())

Index(['OBS.', 'TOWN', 'TRACT', 'LON', 'LAT', 'MEDV', 'CMEDV', 'CRIM', 'INDUS',
       'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [25]:
boston_data.isnull().sum()

OBS.       0
TOWN       0
TRACT      0
LON        0
LAT        0
MEDV       0
CMEDV      0
CRIM       0
INDUS      0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [26]:
boston_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   OBS.     506 non-null    int64
 1   TOWN     506 non-null    object
 2   TRACT    506 non-null    int64
 3   LON      506 non-null    float64
 4   LAT      506 non-null    float64
 5   MEDV     506 non-null    float64
 6   CMEDV    506 non-null    float64
 7   CRIM     506 non-null    float64
 8   INDUS    506 non-null    float64
 9   NOX      506 non-null    float64
 10  RM       506 non-null    float64
 11  AGE      506 non-null    float64
 12  DIS      506 non-null    float64
 13  RAD      506 non-null    int64
 14  TAX      506 non-null    int64
 15  PTRATIO  506 non-null    float64
 16  B        506 non-null    float64
 17  LSTAT    506 non-null    float64
dtypes: float64(13), int64(4), object(1)
memory usage: 71.3+ KB

In [33]:
boston_data.describe()

,OBS.,TRACT,LON,LAT,MEDV,CMEDV,CRIM,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,253.500000,2700.355731,-71.056389,42.216440,22.532806,22.528854,3.613524,11.136779,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,146.213884,1380.036830,0.075405,0.061777,9.197104,9.182176,8.601545,6.860353,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,1.000000,1.000000,-71.289500,42.030000,5.000000,5.000000,0.006320,0.460000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,127.250000,1303.250000,-71.093225,42.180775,17.025000,17.025000,0.082045,5.190000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,253.500000,3393.500000,-71.052900,42.218100,21.200000,21.200000,0.256510,9.690000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,379.750000,3739.750000,-71.019625,42.252250,25.000000,25.000000,3.677083,18.100000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,506.000000,5082.000000,-70.810000,42.381000,50.000000,50.000000,88.976200,27.740000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [ ]:
# What is the tract
# Possible relationships:
# AGE/LOCATION, (eh)
# TAX/LOCATION (yes)
# PUPILRATIO/DIS (yes)
# Black/Location/Pupilratio
#Crime/location (yes)
# Location/rad 

#INDUS
#Nox(nitrogen oxide concentration)/location